<html>
<title>CONTACT</title>
<A HREF="/login">HOME</A>
<A HREF="/about">ABOUT</A>
<A HREF="/gallery">GALLERY</A>
<A HREF="/contact">CONTACT</A>
<A HREF="/order">ORDER</A>
<br></br>
<head><center align="center"><h1><font color = "663300">SELLER DETAILS</h1></center></head>
<br></br>
<body bgcolor="FFFFCC">
<p><center align="center">
<h2><font color = "brown">SELLER NAME: HONEY</h2></center>
<center align="center">
<h2><font color = "brown"> MOBILE NO: 1234567890</h2></center>
<center align="center">
<h2><font color = "brown">WHATSAPP NO: 1234567890</h2></center>
<center align="center">
<h2><font color = "brown"> EMAIL: honey123@gmail.com</h2></center>
<center align="center">
<h2><font color = "brown"> ADDRESS: GUNADALA, VIJAYAWADA, A.P.</h2></center>
</p>
</body>
</html>


